<h3>Ante cualquier duda puedes consultar con alguno de los siguientes métodos</h3>
<p>Correo electrónico: CORREOELECTRONICO@gmail.com</p>
<p>Teléfono fijo: 1234-5678</p>
<p>Whatsapp: 15-1111-1111</p>
<p>Facebook: NOMBRE_CUENTA_FACEBOOK</p>
<p>Instagram: NOMBRE_CUENTA_INSTAGRAM</p>

<h3>Puedes encontrarnos en la siguiente dirección</h3>
<p>Dirección: CALLE SIEMPRE VIVA 123</p>
<p>Horario de atención: De 10:00 hasta 18:00 </p>
<!-- AÑADIR MAPA -->

<h3>Preguntas frecuentes</h3>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe suscipit dolorem quae soluta blanditiis! Delectus, in
perspiciatis dignissimos tempore, consectetur, quis alias dolore maxime quisquam vero dolores excepturi ab incidunt.