<link rel="stylesheet" type="text/css" href="/css/homeView.css">

<main class="container">
    <section id="home" class="my-5">
        <h2>¡Disfruta de la mejor experiencia de casino en línea!</h2>
        <p>Únete a nuestro casino y disfruta de una variedad de juegos emocionantes y promociones exclusivas.</p>
    </section>

    <section id="games" class="my-5">
        <h2>Juegos Disponibles</h2>

        <div class="game mb-4">

            <div class="row">

                <a href="/juegos/tragamonedas" class="col-md-3">
                    <img src="images/Estilos/Tragamonedas.jfif" class="img-fluid" alt="Tragamonedas">
                </a>

                <div class="col-md-9">
                    <h3>Tragamonedas</h3>
                    <p>Disfruta de nuestras emocionantes máquinas tragamonedas con temas diversos y premios impresionantes.</p>
                </div>

            </div>

        </div>
        
        <div class="game mb-4">

            <div class="row">

                <a href="/juegos/blackjack" class="col-md-3">
                    <img src="images/Estilos/blackjack.webp" class="img-fluid" alt="Blackjack">
                </a>

                <div class="col-md-9">
                    <h3>Blackjack</h3>
                    <p>Estrategia y suerte, usa ambas para vencer al crupier.</p>
                </div>

            </div>
            
        </div>
        
        <div class="game mb-4">
            <h3>Ruleta</h3>
            <p>Haz tus apuestas y prueba tu suerte en nuestras mesas de ruleta.</p>
        </div>
    
    </section>

</main>