<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino en Línea</title>
    
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <!-- Bootstrap CSS -->
    <link href="/bootstrapCSS/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="/bootstrapICONS/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <header>
        <h1 class="text-center">Bienvenido al Casino Mucha Diversión</h1>
        <h4 class="text-center">Este es una página web de prueba para mostrar mis habilidades en la programación web</h4>
    </header>
       
    <nav class="text-center">

        <ul class="list-inline">

            <li class="list-inline-item"><a href="/"><i class="bi bi-house-door"></i>Inicio</a></li>
            <li class="list-inline-item"><a href="/juegos"><i class="bi bi-suit-heart" style="color: red;"></i>Juegos</a></li>
            <li class="list-inline-item"><a href="/promociones"><i class="bi bi-cash"></i>Promociones</a></li>
            <li class="list-inline-item"><a href="/contacto"><i class="bi bi-telephone"></i>Contacto</a></li>

            <% if (!usuario.nombre) { %>
                <li class="list-inline-item"><a href="/login"><i class="bi bi-box-arrow-in-right"></i>Iniciar Sesión</a></li>
                <li class="list-inline-item"><a href="/register"><i class="bi bi-pencil-square"></i>Registrarse</a></li>
            <% } else { %>
                <li class="list-inline-item"><a href="/logout"><i class="bi bi-box-arrow-left"></i>Cerrar Sesión</a></li>
            <% } %>

        </ul>

    </nav>

    <% if (usuario.nombre) { %>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">

                        <li class="nav-item dinero-item">
                            <img src="/images/Estilos/fichas.png" alt="fichas" class="bi" style="width: 30px; height: 30px;">
                            <span id="fichas"><%= usuario.fichas %></span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/perfil">
                                <%= usuario.nombre %>
                            </a>
                        </li>

                        <li class="nav-item"> 
                            <img src="/images/Perfil/<%= usuario.imagenPerfil %>" class="rounded-circle perfil-img"> 
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    <% } %>

    <div id="plantillaSecundaria">
        <%- include(body) %> <!-- Plantilla secundaria acá -->
    </div>


    <footer class="text-center">
        <p>&copy; 2025 Casino en Línea. Todos los derechos reservados.</p>
        <p><a href="/contacto">Contáctanos</a> para más información.</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="/bootstrapJS/bootstrap.bundle.min.js"></script>
</body>
</html>
