<div class="container">

    <div class="row" style="text-align: center;">

        <a href="/juegos/tragamonedas" class="col-md-3">
            <img src="images/Estilos/Tragamonedas.jfif" class="img-fluid" alt="Tragamonedas">
            <h3>Tragamonedas</h3>
        </a>

        <a href="/juegos/blackjack" class="col-md-3">
            <img src="images/Estilos/blackjack.webp" class="img-fluid" alt="Blackjack">
            <h3>Blackjack</h3>
        </a>

    </div>

</div>

